/* Mobile View */

#welcome {
    width: 90%;
    height: 140%;
    margin: auto;
    padding-top: 5vh;
}

.welcome-text > h1 {
    font-size: 42px;
    margin-bottom: 5vh;
}

.welcome-text > p {
    font-size: 14px;
    line-height: calc(14px * 1.5);
    width: 100%;
}

.welcome-hero  {
    width: 80%;
    margin: auto;
    margin-top: 5vh;
}

.hero-image {
    width: 100%;
}
.hero-image > img {
    width: 100%;
}

.mobile {
    text-align: center;
    margin: auto;
    justify-content: center;
}

.nav-button {
    height: 40px;
    width: 90%;
    margin: auto;
}

.nav-button > a > button {
    width: 100% !important;
}

  
  @media screen and (min-width: 769px) {

    .welcome {
        width: 65vw;
        margin: 0;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: center;
        align-items: center;
        margin-left: 25vw;
        padding-top: 0vh;
    }

    .welcome-text > h1 {
        margin-bottom: 3vh;
    }

    .welcome-text {
        height: auto;
        margin: 0;
        justify-content: start;
    }

    .welcome-text > p {
        margin-top: 40px;
        font-size: 18px;
        line-height: calc(18px * 1.4);
    }

    .welcome-hero {
        width: 70%;
        margin: 0;
    }

    .nav-button {
        display: none;
    }
    
  }
  
  @media screen and (min-width: 1025px) {

    .welcome {
        width: 75vw;
        height: auto;
        margin: 0;
        padding-top: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .welcome-text {
        height: auto;
        width: 80%;
        padding: 0;
    }

    .welcome-text > p {
        margin-top: 40px;
        font-size: 18px;
        line-height: calc(18px * 1.4);
        width: 60%;
    }

    .welcome-hero {
        width: 50%;
        margin: 0;
    }
    
  }
  
  @media screen and (min-width: 1201px) {

    .welcome {
        width: 90%;
        margin: auto;
        flex-direction: row;
        height: 100vh;
        padding-top: 0;
    }

    .welcome-text {
        width: 80%;
    }

    .welcome-hero {
        width: 50%;
        margin-right: 5vw;
    }
    
  }