
.generator {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    display: block;
    padding-top: 5vh;
}

.generator-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    height: auto;
    width: 90%;
    margin: auto;
}

.generator-info > h1 {
    font-size: 42px;
    margin-bottom: 3vh;
}

.generator-content > p {
    margin-top: 5vh;
    font-size: 14px;
    width: 80%;
    line-height: calc(14px * 1.5);
}

.generator-section {
    width: 100%;
    grid-column: 1;
    grid-row: 3;
    margin: 3vh auto;
}

.generator-info {
    grid-row: 1;
    grid-column: 1;
}

.generator-info > p {
    line-height: calc(14px * 1.5);
}

.list-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px #d6d6d6;
    padding-bottom: 5px;
    width: 100%;
}

.list-meta > img {
    width: 5%;
    padding-right: 2%;
}

.generator-form {
    display: flex;
    flex-direction: column;
}

.generator-form > * {
    margin-top: 3vh;
}

.generator-form > input {
    width: auto;
    padding: 10px;
    border-radius: 8px;
    border: solid 2px rgb(218, 218, 218);
}

.generator-answer {
    height: auto;
    width: 100%;
    margin: 3vh auto 5vh auto;
    grid-column: 1;
    grid-row: 4;
}

.request {
    color: black;
    background-color: #C5C742;
    padding: 10px
}

.answer {
    /* background-color: rgb(245, 245, 245); */
    padding: 10px;
}

.answer > p {
    font-size: 14px;
    line-height: calc(14px * 1.5);
}

.aanduiding {
    margin-bottom: 5px;
    font-weight: 700;
}

.liedtekst {
    margin-bottom: 2vh;
    font-size: 14px;
    line-height: calc(14px * 1.5);
    font-weight: 400;
}

.loader {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader > p {
    text-align: center;
    font-weight: 400;
}

.ghost {
    display: none;
    visibility: hidden;
    transform: all 0.7s ease;
}

.visible {
    display: block;
    visibility: visible;
    transform: all 0.7s ease;
}

span {
    text-align: center;
}

select {
    width: auto;
    padding: 10px;
    border-radius: 8px;
    border: solid 2px rgb(218, 218, 218);
    height: 100px;
}

.generator-list {
    grid-column: 1;
    width: 100%;
    margin: 4vh auto;
}

.generator-list > h2 {
    font-size: 22px;
    margin: 1vh auto 2vh auto;
}

.list-container {
    transition: max-height 0.3s ease-in-out;
    height: auto;
    margin-top: 2vh;
    width: 100%;

}

.list-container > li {
    width: 96%;
    height: 40px;
    line-height: 40px;
    padding: 5px 0;
    padding-left: 3%;
    vertical-align: middle;
    border-bottom: 1px solid rgb(206, 206, 206);
}

.list-container > li:hover {
    transition: all 0.4s ease;
    background-color: rgb(241, 241, 241);
}

/* .list-container > li:nth-child(odd) {
    background-color: rgb(238, 238, 238);
}

.list-container > li:nth-child(even) {
    background-color: rgb(223, 223, 223);
} */

.hidden {
    display: none;
    height: 0px;
}

.shown {
    transform: rotateX(180deg);
    transition: all 0.1s ease;
}

.closed {
    transform: rotateX(0deg);
    transition: all 0.1s ease;
}

button:disabled {
    background-color: dimgrey;
    color: linen;
    opacity: 1;
}

.hover {
    cursor: pointer;
}

@media screen and (min-width: 769px) {
    .generator {
        width: 65vw;
        height: auto;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 25vw;
        margin-bottom: 15vh;
        min-height: 0;

    }

    .generator-content {
        width: 80%;
        height: auto;
    }

    .generator-content > p {
        margin-top: 5vh;
        font-size: 18px;
        width: 80%;
        line-height: calc(18px * 1.5);
    }

    .generator-form {
        height: auto;
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    
    .generator-zoeken > input {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        border: solid 1px rgb(218, 218, 218);
    }

    span {
        text-align: center;
    }
    
    select {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        border: solid 2px rgb(218, 218, 218);
    }

    .list-meta > img {
        width: 4%;
        padding-right: 2%;
    }
    

}

@media screen and (min-width: 1025px) { 

    .generator {
        width: 75vw;
        height: auto;
        margin: 0;
        padding-top: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 15vh;

    }

    .generator-content {
        height: auto;
        width: 80%;
        padding: 0;
    }

    .generator-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 600px;
    }

    .generator-form > input {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        border: solid 1px rgb(218, 218, 218);
    }

    .generator-answer {
        width: 600px;
        height: auto;
        margin: 3vh 0 5vh 0;
    }

    .answer {
        height: 100%;
    }

    span {
        text-align: center;
    }
    
    select {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        border: solid 1px rgb(218, 218, 218);
        margin-right: 3vw;
    }

    .list-meta > img {
        width: 3%;
        padding-right: 2%;
    }

}

@media screen and (min-width: 1201px) {

    .generator {
        width: 90%;
        margin: 0 40px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        min-height: 100vh;
        padding-top: 0;
    }

    .generator-content {
        width: 100%;
        height: 90%;
        padding-top: 10vh;
        grid-template-columns: 50% 40%;
        grid-template-rows: 200px 100px auto 300px;
        grid-gap: 10px;
        column-gap: 50px;
    }

    .generator-info {
        grid-column: 1;
        grid-row: 1;
        height: fit-content;
    }

    .generator-section {
        grid-column: 1;
        grid-row: 2;
        margin: 0;
    }

    .generator-form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    .generator-form > input {
        width: 60%;
        padding: 10px;
        border-radius: 8px;
        border: solid 1px rgb(218, 218, 218);
    }

    .generator-answer {
        width: 600px;
        height: auto;
        margin: 3vh 0 5vh 0;
        grid-column: 2;
        grid-row: 1/4;
    }

    .answer {
        height: 100%;
    }

    span {
        text-align: center;
        width: 20%;
    }
    
    select {
        width: 50%;
        padding: 10px;
        border-radius: 8px;
        border: solid 1px rgb(218, 218, 218);
        margin-right: 3vw;
    }

    .generator-list {
        grid-row: 3;
    }

    .list-meta > img {
        width: 2%;
        padding-right: 2%;
    }

}