.liederen {
    width: 90vw;
    margin: auto;
    min-height: 100vh;
    display: block;
    padding-top: 5vh;

}

.liederen-content {
    display: flex;
    flex-direction: column;
}

.liederen-content > h1 {
    font-size: 42px;
}

.liederen-section > h2 {
    font-size: 26px;
    margin: 5vh auto 1vh auto;
}

.liederen-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.liederen-zoeken {
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.liederen-zoeken > input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: solid 1px rgb(218, 218, 218);
}

.lied {
    border-bottom: solid 1px rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px auto;
    margin: 2vh 0;
    height: 30px;
}

@media screen and (min-width: 769px) {
    .liederen {
        width: 65vw;
        height: auto;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 25vw;
    }

    .liederen-content {
        width: 80%;
    }

    .lied {
        justify-content: space-between;
        padding: 0;
    }

    .lied > * {
        width: auto;
    }

    .liederen-zoeken {
        height: 7vh;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
    .liederen-zoeken > input {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        border: solid 1px rgb(218, 218, 218);
    }
}

@media screen and (min-width: 1025px) {
    .liederen {
        width: 75vw;
        height: auto;
        margin: 0;
        padding-top: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .liederen-content {
        height: auto;
        width: 80%;
        padding: 0;
    }


}

@media screen and (min-width: 1201px) {

    .liederen {
        width:100%;
        height: 100vh;
        margin: 0;
        padding-top: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .liederen-content {
        width: 100%;
        height: 100%;
    }

    .liederen-grid {
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        grid-gap: 15% 5%;
    }

    .lied {
        height: 7vh;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .liederen-zoeken {
        height: 7vh;
        width: 45%;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
    .liederen-zoeken > input {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        border: solid 2px rgb(218, 218, 218);
    }

}