:root {
  font-family: "century-gothic", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  --blue: #134CA8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: white;


}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

main {
  width: 100vw;
  margin: auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button-1 {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 12px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--blue);
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button-1:hover {
  border-color: #646cff;
}

.button-2 {
  border-radius: 8px;
  border: 1px solid var(--blue);
  padding: 0.6em 1.2em;
  font-size: 12px;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  color: var(--blue);
  cursor: pointer;
  transition: border-color 0.25s;
}
.button-2:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Queries */

@media screen and (min-width: 481px) {

  main {
    width: 90vw;
  }

}

@media screen and (min-width: 769px) {

  body {
    flex-direction: row;
  }

  main {
    overflow: hidden;
  }


  
}

@media screen and (min-width: 1025px) {

  main {
    width: 80vw;
    margin-left: 18%;
  }

}

@media screen and (min-width: 1201px) {
  
}