.nav {
    background-color: var(--blue);
    width: 60vw;
    height: 90vh;
    margin: 0;
    padding: 40px 20px;
    position: fixed;
    left: 0;
    transform: translateX(-72vw);
    transition: all 0.4s ease-out;
}

.open {
    transform: translateX(0vw);
    transition: all 0.4s ease-out;
}

li {
    list-style-type: none;
}

li > a {
    color: white;
    cursor: pointer
}

.active {
    font-weight: bold;
}

.nav > li {
    font-size: 24px;
    width: 100%;
    margin-bottom: 4vh;
}

.subnav {
    margin-left: 10%;
}

.subnav > li {
    margin-bottom: 3vh;
}

@media screen and (min-width: 769px) {

    .nav {
        transform: translateX(0vw);
        height: 100vh;
        background-color: white;
        flex-direction: column;
        width: 25vw;
        padding: 2vw;
        position: fixed;
        left: 0;
        border-right: 1px solid rgb(218, 218, 218);
        list-style-type: none;
    }

    li {
        list-style-type: none;
        
    }

    li > a {
        color: black;
        cursor: pointer;
        font-size: 24px;
    }

    .active {
        font-weight: bold;
    }

    .nav > li {
        font-size: 30px;
        width: 100%;
        margin-bottom: 2vh;
    }

    .subnav > li {
        margin-bottom: 3vh;
        font-size: 16px;
    }

    .subnav > li > a {
        font-size: 14px;
    }

    .trigger {
        display: none;
    }

}

@media screen and (min-width: 1025px) {

    .nav {
        transform: translateX(0vw);
        height: 100vh;
        background-color: white;
        flex-direction: column;
        width: 20vw;
        padding: 2vw;
        position: fixed;
        left: 0;
        border-right: 1px solid rgb(218, 218, 218);
        list-style-type: none;
    }

}

@media screen and (min-width: 1201px) {

    .nav {
        transform: translateX(0vw);
        height: 100vh;
        background-color: white;
        flex-direction: column;
        width: 13vw;
        padding: 2vw;
        position: fixed;
        left: 0;
        border-right: 1px solid rgb(218, 218, 218);
        list-style-type: none;
    }

    .nav > li {
        margin-bottom: 5vh;
    }

    li > a {
        font-size: 28px;
    }

    .subnav > li {
        margin-bottom: 4vh;
    }

    .subnav > li > a {
        font-size: 18px;
       
    }

}