.generator {
    width: 90vw;
    margin: auto;
    min-height: 100vh;
    display: block;
    padding-top: 5vh;

}

.generator-content {
    display: flex;
    flex-direction: column;
}

.generator-content > h1 {
    font-size: 42px;
}

.generator-content > p {
    margin-top: 5vh;
    font-size: 14px;
    width: 80%;
    line-height: calc(14px * 1.5);
}

.generator-section {
    width: 100%;
}

.generator-form {
    display: flex;
    flex-direction: column;
}

.generator-form > * {
    margin-top: 3vh;
}

.generator-form > input {
    width: auto;
    padding: 10px;
    border-radius: 8px;
    border: solid 2px rgb(218, 218, 218);
}

.generator-answer {
    height: auto;
    width: 100%;
    margin: 3vh auto 5vh auto;
}

.request {
    color: black;
    background-color: #C5C742;
    padding: 10px
}

.answer {
    background-color: rgb(245, 245, 245);
    padding: 10px;
}

.answer > p {
    font-size: 14px;
    line-height: calc(14px * 1.5);
}

.aanduiding {
    margin-bottom: 5px;
}

.liedtekst {
    margin-bottom: 2vh;
    font-size: 14px;
    line-height: calc(14px * 1.5);
}



@media screen and (min-width: 769px) {
    .generator {
        width:auto;
        height: auto;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-top: 5vh;
    }

    .generator-content {
        width: 60%;
        height: auto;
    }

    .generator-content > p {
        margin-top: 5vh;
        font-size: 18px;
        width: 80%;
        line-height: calc(18px * 1.5);
    }

    .generator-form {
        height: auto;
        width: 70%;
    }
    
    .generator-zoeken > input {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        border: solid 1px rgb(218, 218, 218);
    }

}

@media screen and (min-width: 1025px) { 

    .generator-form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 65%;
    }

    

    .generator-form > input {
        width: 80%;
        padding: 10px;
        border-radius: 8px;
        border: solid 1px rgb(218, 218, 218);
        margin-right: 3vw;
    }

    .generator-answer {
        width: 50%;
        margin: 3vh 0 5vh 0;
    }



}